@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);









#slider-7 P {
  text-align: left;
  font-family: 'Indie Flower', cursive;
}
#slider-7 H1 {
  text-align: center;
  color: #efefef;
  font-family: 'Indie Flower', cursive;
}
#slider-7 .btn {
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#ext_menu-0 .mbr-navbar__items a P {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#header1-1 H1 {
  text-align: right;
  font-family: 'Indie Flower', cursive;
  color: #ffe89f;
}
#header1-1 P {
  text-align: right;
  color: #ffffff;
}
#header4-2 H1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
}
#header4-2 P {
  text-align: right;
}
#image1-5 SMALL {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}





#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-a .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-a .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#ext_menu-a .mbr-navbar__items a P {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#ext_menu-a .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#content5-c .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}
#content5-c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-article {
  color: #fff;
}
#content5-c .mbr-article P {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}



#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-h .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-h .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#ext_menu-h .mbr-navbar__items a P {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#ext_menu-h .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}




#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-g .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-g .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#ext_menu-g .mbr-navbar__items a P {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#ext_menu-g .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#header1-s P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
}
#header1-s H1 {
  font-size: 36px;
}





#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-t .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-t .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#ext_menu-t .mbr-navbar__items a P {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#ext_menu-t .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#header2-v P {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
#header2-v H1 {
  text-align: center;
}
#header3-w H3 {
  font-family: 'Oxygen', sans-serif;
}
